<section>
  <div class="bg-white mt-20 p-20">
    <div class="container mx-auto py-5">
      <div class="flex justify-center items-center py-2">
        <img src="./assets/User_Avatar-35-512.webp" class="w-1/4" alt="">
      </div>
      <div class="py-2 text-center">
        <h1 class="uppercase font-bold text-4xl text-[#2C3E50]">Not Found Page</h1>
      </div>
      <div class="flex justify-center items-center">
        <div class="bg-[#2C3E50] h-1 w-24"></div>
        <div class="px-2"><i class="fa-solid fa-star text-[#2C3E50]"></i></div>
        <div class="bg-[#2C3E50] h-1 w-24"></div>
      </div>



    </div>
  </div>
</section>
