<footer class="bg-[#2C3E50]">
    <div class="py-20 px-20 text-white">
      <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-3 text-center">
          <div class="flex flex-col gap-3">
            <h2 class="uppercase text-3xl font-bold">Location</h2>
            <span>2215 John Daniel Drive
            </span>
            <span>
              Clark, MO 65243
            </span>
          </div>
          <div class="flex flex-col gap-3">
            <h3 class="text-3xl font-bold uppercase">around the web
            </h3>
            <ul class="flex justify-center items-center gap-2">
                <li class="group cursor-pointer">
                  <i class="fa-brands fa-facebook group-hover:text-black group-hover:bg-white border-2 rounded-full border-white p-2"></i>
                </li>
                <li class="group cursor-pointer">
                  <i class="fa-brands fa-twitter group-hover:text-black group-hover:bg-white border-2 rounded-full border-white p-2"></i>
                </li>
                <li class="group cursor-pointer">
                  <i class="fa-brands fa-linkedin-in group-hover:text-black group-hover:bg-white border-2 rounded-full border-white p-2"></i>
                </li>
                <li class="group cursor-pointer">
                  <i class="fa-solid fa-globe group-hover:text-black group-hover:bg-white border-2 rounded-full border-white p-2"></i>
                </li>


            </ul>
          </div>
          <div class="flex flex-col gap-3">
            <h3 class="text-3xl font-bold">ABOUT FREELANCER
            </h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by Route


            </p>
          </div>
      </div>
    </div>
</footer>
<div class="bg-[#1A252F]">
    <div class="px-10 py-10 text-white">
      <div class="flex justify-center items-center">
        Copyright © Your Website 2021
      </div>
    </div>
</div>
