<nav class="bg-[#2C3E50] fixed top-0 right-0 left-0 z-20">

  <div class="container w-11/12 mx-auto text-white px-10 transition-all duration-500" [class.py-5]="isScrolled" [class.py-10]="isScrolled == false" >
    <div class="flex justify-between items-center">
        <div class="logo font-bold text-4xl uppercase">
          <a routerLink="home">
            Start Framework
          </a>
        </div>
        <div>
          <ul class="lg:flex gap-4 font-bold text-lg uppercase hidden">
            <li><a routerLink="home" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg"> Home</a></li>
            <li><a routerLink="about" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg"> about</a></li>
            <li><a routerLink="portfolio" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg"> portfolio</a></li>
            <li><a routerLink="contact" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg"> contact</a></li>
          </ul>

          <div (click)="toggleMobileList()" class=" cursor-pointer lg:hidden md:block">
            <i class="fa-solid fa-bars text-3xl border-2 border-solid border-gray-500 rounded-lg p-1"[class.activeBars]="mobileVisibility" ></i>
          </div>
        </div>
    </div>

  </div>
  <div class="container w-11/12 mx-auto text-white px-10">
    <div [class.show]="mobileVisibility" class=" max-h-0 transition-all duration-300 opacity-0 lg:hidden">
      <ul class=" flex-col gap-4 font-bold text-lg flex py-5 mobile-list lg:hidden uppercase">
        <li><a routerLink="home" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg "> Home</a></li>
        <li><a routerLink="about" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg"> about</a></li>
        <li><a routerLink="portfolio" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg"> portfolio</a></li>
        <li><a routerLink="contact" routerLinkActive="bg-[#1ABC9C] p-3 rounded-lg"> contact</a></li>
      </ul>
    </div>
  </div>

</nav>
